<!-- Mary Catherine Shepherd -->
<!-- IS 413 -->
<!-- Mission 6 -->

@{
    ViewData["Title"] = "Get to Know Joel";
}
<!-- Sets the page title -->

<h1>Get to Know Joel</h1>
<!-- Main heading for the page -->

<p>
    <a href="https://www.qwcomedy.com/" target="_blank">
        Quick Wits Comedy
    </a>
</p>
<!-- Link to the Quick Wits Comedy website -->

<p>
    <a href="https://baconsale.com/" target="_blank">
        Baconsale
    </a>
</p>
<!-- Link to the Baconsale website -->

<br />
<!-- Adds spacing between sections -->

<p>Click me!</p>
<!-- Instruction text for the image link -->

<a href="https://baconsale.com/" target="_blank">
    <img src="~/img/Baconsale.jpg"
         alt="Joel Hilton"
         width="300" />
</a>
<!-- Clickable image that links to the Baconsale website -->