<!-- Mary Catherine Shepherd -->
<!-- IS 413 -->
<!-- Mission 6 -->

@{
    ViewData["Title"] = "Home Page";
}
<!-- Sets the page title -->

<div class="text-center">
    <!-- Centers the content on the page -->

    <h1 class="display-4">The Joel Hilton Film Collection</h1>
    <!-- Main page heading -->

    <img src="~/img/JoeHilton.jpg" height="400" />
    <!-- Displays an image of Joel Hilton -->
</div>